body {
    background: $body-background-color;
    font-family: 'Arimo', arial, serif;
    font-style: normal;
    width: 100%;
    max-width: 1336px;
    //margin-right: 3em;
    //border: brown solid;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }